@use '../utilities/' as *;
@use '../abstracts/' as *;

.design-system {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  &__header {
    @include flex(center, space-between);
    padding-block: 2em 3.5em;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 100;
  }
}

.section {
  --flow-spacer: 3em;
  padding-top: 15.2rem;
  & > * {
    --max-width: calc(100vw - 33.6rem);
    width: var(--max-width);
    margin: 0 auto;
    @include media('<=mid') {
      width: 100%;
      padding-inline: 3rem;
      text-align: center;
    }
  }
  &:not(:last-child) {
    margin-bottom: 5em;
  }
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);

  & > span {
    margin-right: 0.5em;
    font-weight: var(--fw-700);
    color: hsl(var(--clr-light) / 0.25);
  }
}

.colors {
  --gap: 2em 3em;
  @include flex(null, null, null, wrap);
}

.color {
  --flow-spacer: 1rem;
  flex-grow: 1;
  flex-basis: 20rem;

  & > :nth-child(2) {
    --flow-spacer: 2em;
  }

  P > span {
    margin-right: 1rem;
  }
}

.box {
  padding-block: 8rem 1.6rem;
  padding-inline: 1.6rem;
  border: 1px solid white;
}

.col {
  --flow-spacer: 4rem;
}

.uppercase {
  text-transform: uppercase;
}

.ls-1 {
  letter-spacing: 4.75px;
}
.ls-2 {
  letter-spacing: 2px;
}
.ls-3 {
  letter-spacing: 2.35px;
}
.ls-4 {
  letter-spacing: 2.7px;
}

.explore {
  @include flex(null, null, column);
  --gap: 12rem;
  & span.hovered {
    display: inline-block;
    margin-block-start: 4rem;
  }

  @include media('<=pad') {
    align-items: center;
    p {
      text-align: center;
    }
  }
}

.nav-links {
  --gap: 8rem;
  --underline-gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: hsl(var(--clr-light) / 0.04);
  -webkit-backdrop-filter: blur(45px);
  backdrop-filter: blur(45px);

  @include flex(null, center);

  & a > span {
    font-weight: var(--fw-700);
    margin-right: 0.5em;
  }
}
.mobile-menu {
  transform: translateX(100%);
  @include media('<=mid') {
    & .nav-links {
      padding-left: var(--gap, 1rem);
      padding-top: 14.2rem;
      --gap: 3rem;
      --underline-gap: 0.5rem;
      width: 68vw;
      height: 100vh;
      position: fixed;
      top: -48px;
      right: 0;
      font-size: var(--fs-500);
      transform: translateX(0);
      transition: transform 500ms ease-in-out;
      justify-content: flex-start;
      flex-direction: column;
      z-index: 100;
    }
    & .underline-indicators > * {
      border-bottom: 0;
      border-right: 3px solid hsl(var(--clr-light) / 0);
      width: 100%;

      &:hover,
      &:focus,
      &.hovered {
        border-bottom: 0;
        border-right: 3px solid hsl(var(--clr-light) / 0.5);
      }
    }

    & .underline-indicators > .active,
    & .underline-indicators > [aria-selected='true'] {
      border-bottom: 0;
      border-right: 3px solid hsl(var(--clr-light) / 1);
    }
  }
}

.underline-indicators > * {
  border: 0;
  cursor: pointer;
  border-bottom: 3px solid hsl(var(--clr-light) / 0);
  padding: var(--underline-gap, 1rem) 0;

  &:hover,
  &:focus,
  &.hovered {
    border-bottom: 3px solid hsl(var(--clr-light) / 0.5);
  }
}

.underline-indicators > .active,
.underline-indicators > [aria-selected='true'] {
  color: hsl(var(--clr-light) / 1);
  border-bottom: 3px solid hsl(var(--clr-light) / 1);
}

.numbered,
.navs {
  @include flex(center, null, column);
}

.dots > .flex,
.tabs > .flex {
  @include flex(null, center);
}
