@use '../abstracts/' as *;

header {
  padding-inline-start: 5.5rem;
  // position: ;
  & .NavBar {
    position: relative;
    width: 60%;

    &::after {
      content: '';
      position: absolute;
      top: 4.5rem;
      left: -45rem;
      height: 1px;
      width: 47.3rem;
      background: #979797;
    }

    @include media('<desk') {
      &::after {
        height: 0;
        width: 0;
      }
    }
  }

  & .bars {
    display: none;
  }

  @include media('<=mid') {
    padding-inline-start: 3rem;
    & .NavBar {
      display: none;
    }
    & .bars {
      display: block;
      position: absolute;
      right: 3rem;
      background-color: transparent;
      border: none;
      z-index: 2000;
      background-repeat: no-repeat;
      width: 3rem;
      height: 3rem;
      aspect-ratio: 1;
    }
  }
}
