/* -------------------------------- */
/* LAYOUT                           */
/* -------------------------------- */
@use '../abstracts' as *;

/*********** LAYOUT ************/

.grid-container {
  display: grid;
  place-items: center;
  padding-inline: 1.6rem;
  padding-bottom: 6.4rem;
  text-align: center;

  & p:not([class]) {
    max-width: 50ch;
  }

  @include media('>=45em', 'screen') {
    grid-template-columns: minmax(3.2rem, 1fr) repeat(2, minmax(0, 64rem)) minmax(
        3.2rem,
        1fr
      );
    column-gap: var(--container-gap, 3.2rem);
    text-align: left;

    /*** home layout ***/
    &--home {
      align-items: end;
      padding-bottom: max(9.6rem, 10vh);

      & > *:first-child {
        grid-column: 2;
      }

      & > *:last-child {
        grid-column: 3;
      }
    }
  }

  /*** destination layout ***/
  &--destination {
    --flow-space: 3.2rem;
    grid-template-areas: 'title' 'image' 'tabs' 'content';
    @include media('>=45em') {
      grid-template-areas:
        '. title title .'
        '. image tabs .'
        '. image content .';
      align-content: start;
      justify-items: start;
    }

    & > .numbered-title {
      grid-area: title;
      @include media('>=35em') {
        justify-self: start;
        margin-block-start: 3.2rem;
      }
    }

    & > picture {
      grid-area: image;
      max-width: 60%;
      @include media('>=45em') {
        // align-self: start;
        max-width: 90%;
      }
    }

    & > .tab-list {
      grid-area: tabs;
    }

    & > .destination-info {
      grid-area: content;
    }
  }

  /*** crew layout ***/
  &--crew {
    --flow-space: 2rem;
    grid-template-areas: 'title' 'image' 'dots' 'content';

    @include media('>=35em') {
      grid-template-areas: 'title' 'content' 'dots' 'image';
      padding-bottom: 0;
    }

    @include media('>=45em') {
      grid-template-areas:
        '. title title .'
        '. content image .'
        '. dots image .';
      align-content: start;
      justify-items: start;
    }

    & > .numbered-title {
      grid-area: title;
      @include media('>=35em') {
        justify-self: start;
        margin-block-start: 3.2rem;
      }
    }

    & > picture {
      grid-area: image;
      max-width: 60%;
      border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
      @include media('>=45em') {
        grid-column: span 2;
        max-width: 100%;
        align-self: end;
      }
    }

    & > .dot-list {
      grid-area: dots;
      align-self: start;
    }

    & > .crew-details {
      grid-area: content;
    }
  }

  /*** technology layout ***/
  &--technology {
    --flow-space: 1.5rem;
    grid-template-areas: 'title' 'image' 'numbers' 'content';
    padding-inline: 0;

    @include media('>=45em') {
      grid-template-columns:
        minmax(3.2rem, 1fr) minmax(10rem, 1fr) repeat(2, minmax(0, 56rem))
        minmax(3.2rem, 1fr);

      grid-template-areas:
        '. title title .'
        '. numbers content image'
        '. numbers content image';
      align-items: flex-start;
      justify-items: start;
      padding-inline: 1.6rem;
    }

    & > .numbered-title {
      grid-area: title;

      @include media('>=35em') {
        padding-inline: 2rem;
        justify-self: start;
        margin-block-start: 3.2rem;
      }

      @include media('>=45em') {
        padding-inline: 0;
      }
    }

    & > picture {
      grid-area: image;
      @include media('>=45em') {
        transform: translateX(20%);
      }
    }

    & img {
      aspect-ratio: 2 / 1;
      @include media('>=45em') {
        aspect-ratio: 1;
      }
    }

    & > .number-list {
      grid-area: numbers;
      @include media('>=45em') {
        flex-direction: column;
      }
    }

    & > .tech-details {
      grid-area: content;
      padding-inline: 3em;
      @include media('>=35em') {
        padding-inline: 6em;
      }
      @include media('>=45em') {
        padding-inline: 0;
      }
    }
  }
}
