@use '../abstracts/' as *;

/* CREW */

.crew {
  background-image: img('crew/background-crew-mobile.jpg');

  @include media('>=35em', 'screen') {
    background-position: center center;
    background-image: img('crew/background-crew-tablet.jpg');
  }

  @include media('>=45em', 'screen') {
    background-image: img('crew/background-crew-desktop.jpg');
  }
}

.crew-details h2 {
  opacity: 0.5;
  // color: hsl(var(--clr-white) / 0.5);
}
