@use '../abstracts/' as *;

/* DESTINATION */

.destination {
  background-image: img('destination/background-destination-mobile.jpg');

  @include media('>=35em', 'screen') {
    background-position: center center;
    background-image: img('destination/background-destination-tablet.jpg');
  }

  @include media('>=45em', 'screen') {
    background-image: img('destination/background-destination-desktop.jpg');
  }
}

.destination-meta {
  flex-direction: column;
  margin-top: 3.2rem;
  padding-top: 3.2rem;
  border-top: 1px solid hsl(var(--clr-white) / 0.1);

  & p {
    font-size: 2.8rem;
  }

  @include media('>=35em') {
    flex-direction: row;
    justify-content: space-around;
  }

  @include media('>=45em') {
    --gap: min(6vw, 8rem);
    justify-content: start;
  }
}
