@use '../abstracts/' as *;
@use '../utilities/' as *;

.home {
  background-image: img('home/background-home-desktop.jpg');
  background-size: 100%;
  min-height: 100vh;
  padding-bottom: 8rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  @include flex(null, flex-end, column);
  & .home-text {
    width: 44.4rem;
    line-height: 3.2rem;
  }
  & .flex {
    @include flex(center, right);
  }
  @include media('>mid', '<desk') {
    background-image: img('home/background-home-tablet.jpg');
  }
  @include media('<=mid') {
    background-image: img('home/background-home-mobile.jpg');
    justify-content: flex-start;
    padding-bottom: 0;
    & .home-text {
      width: 100%;
    }

    & .flex {
      margin-top: 10rem;
      justify-content: center;
    }
  }
}
