////////////////////////////////////////////
// MIXINS: Absolute Center
@mixin center-abs($position) {
  position: absolute;

  @if $position == 'vt' {
    top: 50%;
    transform: translateY(-50%);
  } @else if $position == 'hz' {
    left: 50%;
    transform: translateX(-50%);
  } @else if $position == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

////////////////////////////////////////////
// MIXINS: Absolute Center
@mixin align($pos) {
  text-align: $pos;
}

////////////////////////////////////////////
// MIXINS: Cover Mixin
@mixin coverer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

////////////////////////////////////////////
// MIXINS: Width = Height Mixin
@mixin square($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin flex($align: null, $justify: null, $flex-direction: null, $wrap: null) {
  @extend .flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

@mixin grid($g-rows: null, $g-cols: null) {
  @extend .grid;
  grid-template-rows: $g-rows;
  grid-template-columns: $g-cols;
}

@mixin grid-child(
  $col-start: null,
  $col-end: null,
  $row-start: null,
  $row-end: null
) {
  grid-column: #{$col-start}/#{$col-end};
  grid-row: #{$row-start}/#{$row-end};
}

////////////////////////////////////////////
// MIXINS: Mixin for Pseudo elements
@mixin pseudo(
  $loc: before,
  $content: '',
  $pos: absolute,
  $top: 0,
  $btm: 0,
  $left: 0,
  $right: 0
) {
  position: relative;

  &::#{$loc} {
    content: $content;
    position: $pos;
    top: $top;
    bottom: $btm;
    left: $left;
    right: $right;
    @content;
  }
}

////////////////////////////////////////////
// MIXINS: Hover Mixin
@mixin hover-lift() {
  transition: transform 350ms ease-in-out;
  box-shadow: 0 0.25em 0.5em 0 rgba(black, 0.2);
  @include pseudo(after) {
    transition: transform 350ms ease-in-out;
    box-shadow: 0 0 1.25em 0 rgba(black, 0.4);
  }
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

////////////////////////////////////////////
// MIXINS: Responsive SVGs Mixin
// apply the mixin to the div that surrounds your svg
// get the svg width and height from the viewbox attribute of the SVG
// see: http://mimoymima.com/sass-mixin-responsive-svgs/
@mixin responsive-svg($svgwidth, $svgheight, $containerwidth) {
  position: relative;
  width: $containerwidth; // sizes the svg
  height: 0;
  margin: 0 auto; // centers the svg
  padding-block-start: #{($svgheight / $svgwidth) * $containerwidth};
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
}
// used as
// .svg-container {
//   @include responsive-svg(45, 72, 3em); // arguments are ($svgwidth, $svgheight, $containerwidth)
// }
