$type-scale: (
  small: (
    100: 1rem,
    200: 1.4rem,
    300: 1.6rem,
    400: 1.88rem,
    500: 2rem,
    600: 2.5rem,
    700: 2.4rem,
    800: 5.6rem,
    900: 10rem,
  ),
  medium: (
    400: 1.6rem,
    500: 2rem,
    600: 2.4rem,
    700: 4rem,
    800: 8rem,
    900: calc(8vw + 1.6rem),
  ),
  large: (
    400: 1.8rem,
    500: 2.8rem,
    600: 3.2rem,
    700: 5.6rem,
    800: 10rem,
    900: 15rem,
  ),
);

$font-weights: (
  400: 400,
  500: 500,
  700: 700,
);
