@use '../abstracts/' as *;

/************* navigation *************/
.primary-navigation {
  // --gap: 12.6rem; // for design system

  --gap: clamp(1.3rem, 2vw, 5.5rem);
  --underline-gap: 3.2rem;

  list-style: none;
  margin: 0;
  padding: 0;
  background: hsl(var(--clr-dark) / 0.999);
  opacity: 0.9;

  @supports (backdrop-filter: blur(1rem)) {
    opacity: initial;
    background: hsl(var(--clr-accent) / 0.04);
    backdrop-filter: blur(2.2rem);
  }

  @include media('<=35em') {
    --underline-gap: 0.8rem;
    --fs-400: 1.6rem;

    position: fixed;
    inset: 0 0 0 33%;
    flex-direction: column;
    padding: min(32rem, 16vh) 2em;
    font-size: var(--fs-400);
    transform: translateX(100%);
    transition: transform 0.8s ease-in-out;
    z-index: 1000;

    &[data-visible='true'] {
      transform: translateX(0);
    }

    &.underlined > .active {
      border: 0;
    }
  }

  @include media('>=35em') {
    padding-inline: clamp(4rem, 6vw, 10rem);
  }

  @include media('>=45em') {
    margin-block: 3.2rem;
  }

  a {
    text-decoration: none;

    & > [aria-hidden='true'] {
      font-weight: var(--fw-700);
      margin-inline-end: 0.75em;

      @include media('>=35em', '<=55em') {
        display: none;
      }
    }
  }
}
