@use '../abstracts/' as *;

.number-list {
  & > * {
    --flow-space: 2rem;

    display: inline-grid;
    place-items: center;
    @include square(2.5em);
    aspect-ratio: 1;
    border: 1px solid hsl(var(--clr-white) / 0.25);
    border-radius: 50%;
    background-color: hsl(var(--clr-dark));
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: hsl(var(--clr-white) / 1);
    }

    &[aria-selected='true'] {
      color: hsl(var(--clr-dark) / 1);
      background-color: hsl(var(--clr-white) / 1);
    }
  }
}
