@use '../abstracts/' as *;

/* underline-indicators */
.underlined {
  & > * {
    padding-block: var(--underline-gap, 0.8rem);
    border: 0;
    border-right: 4px solid hsl(var(--clr-white) / 0);
    background-color: transparent;
    cursor: pointer;

    @include media('>=35em') {
      border: 0;
      border-bottom: 2px solid hsl(var(--clr-white) / 0);
    }

    &:hover,
    &:focus {
      border-color: hsl(var(--clr-white));
      @include media('>=35em') {
        border-color: hsl(var(--clr-white) / 0.5);
      }
    }

    &.active,
    &[aria-selected='true'] {
      border-color: hsl(var(--clr-white) / 1);
      color: hsl(var(--clr-white) / 1);
    }
  }
}
