@use '../abstracts' as *;
/*********** BODY ************/

body {
  position: relative;
  // overflow-x: hidden;

  display: grid;
  grid-template-rows: min-content 1fr;
  border: 1px solid limegreen;
}
